/* PT Sans */

#cover h2 {
    margin: 30px 0 0;
    color: white;
    text-align: center;
    font-size: 70px;
}

#cover p {
    margin: 10px 0 0;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 20px;
}

#cover p a {
    color: white;
}

.slide::after {
    display: none;
}

.bold {
    font-weight: bold;
}

.line {
    border-bottom: 1px solid #e0e0e0;
}

.center {
    text-align: center;
}

.shower.full,
.cover--user {
    background-color: #212121;
}

.header--user {
    font-family: helvetica, sans-serif;
    margin-top: 371px !important;
}

.header--top {
    margin-top: -65px !important;
}


.author--user {
    margin-top: -6px !important;
}

.list--block > li::before {
    content: '' !important;
}

.list--block {
    padding: 0;
    margin: 0;
    list-style: none !important;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
}

    .list__item--block {
        background: #2f55ccfa;
        box-shadow: 2px 3px 7px 0px #c5c5c5;
        padding: 5px;
        width: 200px;
        margin: 5px;

        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    .list__item--block a {
        color: #fff;
        background-image: none !important;
    }
